site/about.html
<!DOCTYPE html>
<html>
  <head>
    <title>Kolesnikova gallery | Kolesnikova gallery</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,viewport-fit=contain"/>
    <meta name="description" content="Artist, illustrator and graphic designer."/>
    <meta name="author" content="Kolesnikova gallery"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Kolesnikova gallery"/>
    <meta property="og:title" content="Kolesnikova gallery | Kolesnikova gallery"/>
    <meta property="og:description" content="Artist, illustrator and graphic designer."/>
    <meta property="og:url" content="https://intuition.team"/>
    <meta property="og:image" content="https://intuition.team/images/poster.jpg"/>
    <meta property="og:image:type" content="image/jpg"/>
    <meta property="og:image:width" content="2000"/>
    <meta property="og:image:height" content="1145"/>
    <meta property="og:image:alt" content="Kolesnikova gallery | Kolesnikova gallery"/>
    <meta name="twitter:title" content="Kolesnikova gallery | Kolesnikova gallery"/>
    <meta name="twitter:description" content="Artist, illustrator and graphic designer."/>
    <meta name="twitter:url" content="https://intuition.team"/>
    <link rel="stylesheet" href="/assets/main.1174f1f6.css">
  </head>
  <body>
    <header>
      <div class="header">
        <p><a href="/">Дарья Колесникова</a></p>
        <div class="caption">
          <p>графика  cg  микс-медиа  </p>
        </div>
      </div>
      <div class="menu"><a href="/about">био</a>
      </div>
    </header>
    <main>
      <div class="section">
        <div class="about">
          <div class="picture-about"></div><img src="/images/me-1.jpg">
          <div class="description">
            <p>Живу в Санкт-Петербурге. Училась изобразительному искусству и архитектуре. <br>На данный момент работаю с графикой и микс-медиа, делаю эксперименты с видео-артом. Интересуюсь саунд-артом, инсталляцией. Учусь в Институте Современного Искусства Бакштейна. Открыта к колаборациям, пишите: <br> kolesnikovamail1@gmail.com </p><br>
            <p> </p><a href="https://dribbble.com/heridache" target="_blank">dribble</a><br>
<br><a href="https://readymag.com/u81393552/915615/" target="_blank">дизайн</a><br>
<br><a href="https://intuition.team/?filter=daria-kolesnikova" target="_blank">я в дизайн-бюро «Интуиция»</a><br><br>
            <p>Клиенты: Додо Пицца, The Blueprint, Southbridge, Giveback, f-Genetics, OSDY, Дело Модульбанка, Яндекс.Практикум, Другое Дело.</p>
          </div>
        </div>
      </div>
    </main>
    <!-- Root element of PhotoSwipe. Must have class pswp.-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
      <!--
      Background of PhotoSwipe.
      It's a separate element as animating opacity is faster than rgba().
      -->
      <div class="pswp__bg"></div>
      <!-- Slides wrapper with overflow:hidden.-->
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed.-->
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <!-- Controls are self-explanatory. Order can be changed.-->
            <div class="pswp__counter"></div>
            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
            <button class="pswp__button pswp__button--share" title="Share"></button>
            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
            <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR-->
            <!-- element will get class pswp__preloader--active when preloader is running-->
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
    <script src="/assets/main.1174f1f6.js"></script>
  </body>
</html>

src/pages/about.pug
extends /layouts/main.pug

block content

  .section
    .about
      .picture-about
      img(src="/images/me-1.jpg")
    
      .description
        p Живу в Санкт-Петербурге. Училась изобразительному искусству и архитектуре. <br>На данный момент работаю с графикой и микс-медиа, делаю эксперименты с видео-артом. Интересуюсь саунд-артом, инсталляцией. Учусь в Институте Современного Искусства Бакштейна. 
        <br>
        p  
        a(href="https://dribbble.com/heridache" target="_blank") dribble
        <br>
        <br>

        a(href="https://readymag.com/u81393552/915615/" target="_blank") дизайн
        <br>
        <br>
        a(href="https://intuition.team/?filter=daria-kolesnikova" target="_blank") я в дизайн-бюро «Интуиция»
        
        <br><br>
        p Клиенты: Додо Пицца, The Blueprint, Southbridge, Giveback, f-Genetics, OSDY, Дело Модульбанка, Яндекс.Практикум, Другое Дело.
        <br>
        p Открыта к колаборациям, пишите: <br> kolesnikovamail1@gmail.com 
