site/mdwrld.html
<!DOCTYPE html>
<html>
  <head>
    <title>Kolesnikova gallery | Kolesnikova gallery</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,viewport-fit=contain"/>
    <meta name="description" content="Artist, illustrator and graphic designer."/>
    <meta name="author" content="Kolesnikova gallery"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Kolesnikova gallery"/>
    <meta property="og:title" content="Kolesnikova gallery | Kolesnikova gallery"/>
    <meta property="og:description" content="Artist, illustrator and graphic designer."/>
    <meta property="og:url" content="https://intuition.team"/>
    <meta property="og:image" content="https://intuition.team/images/poster.jpg"/>
    <meta property="og:image:type" content="image/jpg"/>
    <meta property="og:image:width" content="2000"/>
    <meta property="og:image:height" content="1145"/>
    <meta property="og:image:alt" content="Kolesnikova gallery | Kolesnikova gallery"/>
    <meta name="twitter:title" content="Kolesnikova gallery | Kolesnikova gallery"/>
    <meta name="twitter:description" content="Artist, illustrator and graphic designer."/>
    <meta name="twitter:url" content="https://intuition.team"/>
    <link rel="stylesheet" href="/assets/main.1174f1f6.css">
  </head>
  <body>
    <header>
      <div class="header">
        <p><a href="/">Дарья Колесникова</a></p>
        <div class="caption">
          <p>графика  cg  микс-медиа  </p>
        </div>
      </div>
      <div class="menu"><a href="/about">био</a>
      </div>
    </header>
    <main>
      <div class="section">
        <div class="description">
          <div class="title"><a href="https://mdwrld.slaylines.io/" target="_blank">MDWRLD</a></div>
          <p>An endless moodboard. <br></p>
          <p>About: <a href="https://en.intuition.team/park/mdwrld" target="_blank">Intuition.team</a></p>
        </div>
      </div>
      <div class="main-blocks">
        <div class="main-block wide">
          <video id="video_background" preload="auto" controls playsinline muted poster="images/design/mdwrld/cover.jpg">
            <source src="images/design/mdwrld/md.mp4" type="video/mp4">
          </video>
          <div class="caption"></div>
        </div>
      </div>
      <div class="section project-gallery">
        <div class="phsw gallery compact">
          <figure><a class="preview" href="/images/design/mdwrld/sk-1.jpg" data-size="1280x679"><img src="/images/design/mdwrld/sk-1.jpg"></a>
            <figcaption>Sketches for the project</figcaption>
          </figure>
          <figure><a class="preview" href="/images/design/mdwrld/sk-2.jpg" data-size="1280x679"><img src="/images/design/mdwrld/sk-2.jpg"></a>
            <figcaption>Sketches for the project</figcaption>
          </figure>
          <figure><a class="preview" href="/images/design/mdwrld/sk-3.jpg" data-size="1826x1098"><img src="/images/design/mdwrld/sk-3.jpg"></a>
            <figcaption>My first sketch</figcaption>
          </figure>
          <figure><a class="preview" href="/images/design/mdwrld/11.jpg" data-size="1800x1122"><img src="/images/design/mdwrld/11.jpg"></a>
            <figcaption>Thats all started with this picture.</figcaption>
          </figure>
          <figure><a class="preview" href="/images/design/mdwrld/16.jpg" data-size="1383x1491"><img src="/images/design/mdwrld/16.jpg"></a>
            <figcaption></figcaption>
          </figure>
          <figure><a class="preview" href="/images/design/mdwrld/18.jpg" data-size="1102x1494"><img src="/images/design/mdwrld/18.jpg"></a>
            <figcaption></figcaption>
          </figure>
          <figure><a class="preview" href="/images/design/mdwrld/1.jpg" data-size="701x975"><img src="/images/design/mdwrld/1.jpg"></a>
            <figcaption></figcaption>
          </figure>
          <figure><a class="preview" href="/images/design/mdwrld/3.jpg" data-size="1018x700"><img src="/images/design/mdwrld/3.jpg"></a>
            <figcaption></figcaption>
          </figure>
          <figure><a class="preview" href="/images/design/mdwrld/4.jpg" data-size="616x787"><img src="/images/design/mdwrld/4.jpg"></a>
            <figcaption></figcaption>
          </figure>
          <figure><a class="preview" href="/images/design/mdwrld/5.jpg" data-size="676x826"><img src="/images/design/mdwrld/5.jpg"></a>
            <figcaption></figcaption>
          </figure>
          <figure><a class="preview" href="/images/design/mdwrld/6.jpg" data-size="530x756"><img src="/images/design/mdwrld/6.jpg"></a>
            <figcaption></figcaption>
          </figure>
          <figure><a class="preview" href="/images/design/mdwrld/7.jpg" data-size="814x1160"><img src="/images/design/mdwrld/7.jpg"></a>
            <figcaption></figcaption>
          </figure>
          <figure><a class="preview" href="/images/design/mdwrld/8.jpg" data-size="734x980"><img src="/images/design/mdwrld/8.jpg"></a>
            <figcaption></figcaption>
          </figure>
          <figure><a class="preview" href="/images/design/mdwrld/10.jpg" data-size="1800x1162"><img src="/images/design/mdwrld/10.jpg"></a>
            <figcaption></figcaption>
          </figure>
          <figure><a class="preview" href="/images/design/mdwrld/MD.jpg" data-size="1450x1156"><img src="/images/design/mdwrld/MD.jpg"></a>
            <figcaption></figcaption>
          </figure>
          <figure><a class="preview" href="/images/design/mdwrld/12.jpg" data-size="1450x1156"><img src="/images/design/mdwrld/12.jpg"></a>
            <figcaption></figcaption>
          </figure>
        </div>
      </div>
      <div class="section">
        <div class="description">
          <p>Artist: Daria Kolesnikova <br>Developer: Natalia Stepanova <br>Designer: Anastasia Vetushko</p>
          <p>Made in Intuition Park/2019</p>
        </div>
      </div>
    </main>
    <!-- Root element of PhotoSwipe. Must have class pswp.-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
      <!--
      Background of PhotoSwipe.
      It's a separate element as animating opacity is faster than rgba().
      -->
      <div class="pswp__bg"></div>
      <!-- Slides wrapper with overflow:hidden.-->
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed.-->
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <!-- Controls are self-explanatory. Order can be changed.-->
            <div class="pswp__counter"></div>
            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
            <button class="pswp__button pswp__button--share" title="Share"></button>
            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
            <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR-->
            <!-- element will get class pswp__preloader--active when preloader is running-->
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
    <script src="/assets/main.1174f1f6.js"></script>
  </body>
</html>

src/pages/mdwrld.pug
extends /layouts/main.pug

block content
 
  .section
    .description
      .title
        a(href="https://mdwrld.slaylines.io/" target="_blank") MDWRLD
      //- p 2020-2021
      p An endless moodboard. <br>
      p About: 
        a(href="https://en.intuition.team/park/mdwrld" target="_blank") Intuition.team

  .main-blocks
    .main-block.wide
      video(id="video_background" preload="auto" controls playsinline muted poster="images/design/mdwrld/cover.jpg")
        source(src="images/design/mdwrld/md.mp4" type='video/mp4')
      .caption

  .section.project-gallery
    .phsw.gallery.compact
      figure
        a.preview(href="/images/design/mdwrld/sk-1.jpg", data-size='1280x679')
          img(src="/images/design/mdwrld/sk-1.jpg")
        figcaption Sketches for the project
      figure
        a.preview(href="/images/design/mdwrld/sk-2.jpg", data-size='1280x679')
          img(src="/images/design/mdwrld/sk-2.jpg")
        figcaption Sketches for the project
      figure
        a.preview(href="/images/design/mdwrld/sk-3.jpg", data-size='1826x1098')
          img(src="/images/design/mdwrld/sk-3.jpg")
        figcaption My first sketch
      figure
        a.preview(href="/images/design/mdwrld/11.jpg", data-size='1800x1122')
          img(src="/images/design/mdwrld/11.jpg")
        figcaption Thats all started with this picture.

      figure
        a.preview(href="/images/design/mdwrld/16.jpg", data-size='1383x1491')
          img(src="/images/design/mdwrld/16.jpg")
        figcaption
      figure
        a.preview(href="/images/design/mdwrld/18.jpg", data-size='1102x1494')
          img(src="/images/design/mdwrld/18.jpg")
        figcaption

      figure
        a.preview(href="/images/design/mdwrld/1.jpg", data-size='701x975')
          img(src="/images/design/mdwrld/1.jpg")
        figcaption
      figure
        a.preview(href="/images/design/mdwrld/3.jpg", data-size='1018x700')
          img(src="/images/design/mdwrld/3.jpg")
        figcaption
      figure
        a.preview(href="/images/design/mdwrld/4.jpg", data-size='616x787')
          img(src="/images/design/mdwrld/4.jpg")
        figcaption
      figure
        a.preview(href="/images/design/mdwrld/5.jpg", data-size='676x826')
          img(src="/images/design/mdwrld/5.jpg")
        figcaption

      figure
        a.preview(href="/images/design/mdwrld/6.jpg", data-size='530x756')
          img(src="/images/design/mdwrld/6.jpg")
        figcaption
      figure
        a.preview(href="/images/design/mdwrld/7.jpg", data-size='814x1160')
          img(src="/images/design/mdwrld/7.jpg")
        figcaption
      figure
        a.preview(href="/images/design/mdwrld/8.jpg", data-size='734x980')
          img(src="/images/design/mdwrld/8.jpg")
        figcaption
      figure
        a.preview(href="/images/design/mdwrld/10.jpg", data-size='1800x1162')
          img(src="/images/design/mdwrld/10.jpg")
        figcaption

      figure
        a.preview(href="/images/design/mdwrld/MD.jpg", data-size='1450x1156')
          img(src="/images/design/mdwrld/MD.jpg")
        figcaption
      figure
        a.preview(href="/images/design/mdwrld/12.jpg", data-size='1450x1156')
          img(src="/images/design/mdwrld/12.jpg")
        figcaption

  .section
    .description
      p Artist: Daria Kolesnikova <br>Developer: Natalia Stepanova <br>Designer: Anastasia Vetushko
      p Made in Intuition Park/2019
