src/pages/sb-content.pug
extends /layouts/main.pug

block content
  .section
    .description
      p Стиль иллюстраций и цветовая палитра
      a(href="https://southbridge.io/" target="_blank") Southbridge
      //- p 2020-2021

  .section.project-gallery
    .phsw.gallery.wide
      figure
        a.preview(href="/images/design/sb/sb-8.png", data-size='1800x1049')
          img(src="/images/design/sb/sb-8.png")
        figcaption
      figure
        a.preview(href="/images/design/sb/sb-10.png", data-size='1800x2479')
          img(src="/images/design/sb/sb-10.png")
        figcaption
      figure
        a.preview(href="/images/design/sb/sb-11.png", data-size='1915x1028')
          img(src="/images/design/sb/sb-11.png")
        figcaption
      figure
        a.preview(href="/images/design/sb/sb-3.png", data-size='1800x1433')
          img(src="/images/design/sb/sb-3.png")
        figcaption
      figure
        a.preview(href="/images/design/sb/sb-1.png", data-size='1800x1200')
          img(src="/images/design/sb/sb-1.png")
        figcaption
      figure
        a.preview(href="/images/design/sb/sb-2-2.png", data-size='1800x1315')
          img(src="/images/design/sb/sb-2-2.png")
        figcaption
      figure
        a.preview(href="/images/design/sb/sb-9.png", data-size='1800x2255')
          img(src="/images/design/sb/sb-9.png")
        figcaption
      figure
        a.preview(href="/images/design/sb/sb-5-1.png", data-size='1800x2044')
          img(src="/images/design/sb/sb-5-1.png")
        figcaption
      figure
        a.preview(href="/images/design/sb/sb-13.png", data-size='1800x1966')
          img(src="/images/design/sb/sb-13.png")
        figcaption
      figure
        a.preview(href="/images/design/sb/sb-14.png", data-size='1800x2094')
          img(src="/images/design/sb/sb-14.png")
        figcaption
      figure
        a.preview(href="/images/design/sb/sb-16.png", data-size='1800x1800')
          img(src="/images/design/sb/sb-16.png")
        figcaption
      figure
        a.preview(href="/images/design/sb/sb-7.png", data-size='1800x2016')
          img(src="/images/design/sb/sb-7.png")
        figcaption
      figure
        a.preview(href="/images/design/sb/sb-4.png", data-size='1800x2479')
          img(src="/images/design/sb/sb-4.png")
        figcaption
      figure
        a.preview(href="/images/design/sb/sb-6.png", data-size='1800x1490')
          img(src="/images/design/sb/sb-6.png")
        figcaption
      figure
        a.preview(href="/images/design/sb/sb-12.png", data-size='1800x2592')
          img(src="/images/design/sb/sb-12.png")
        figcaption

site/sb-content.html
<!DOCTYPE html>
<html>
  <head>
    <title>Kolesnikova gallery | Kolesnikova gallery</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,viewport-fit=contain"/>
    <meta name="description" content="Artist, illustrator and graphic designer."/>
    <meta name="author" content="Kolesnikova gallery"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Kolesnikova gallery"/>
    <meta property="og:title" content="Kolesnikova gallery | Kolesnikova gallery"/>
    <meta property="og:description" content="Artist, illustrator and graphic designer."/>
    <meta property="og:url" content="https://intuition.team"/>
    <meta property="og:image" content="https://intuition.team/images/poster.jpg"/>
    <meta property="og:image:type" content="image/jpg"/>
    <meta property="og:image:width" content="2000"/>
    <meta property="og:image:height" content="1145"/>
    <meta property="og:image:alt" content="Kolesnikova gallery | Kolesnikova gallery"/>
    <meta name="twitter:title" content="Kolesnikova gallery | Kolesnikova gallery"/>
    <meta name="twitter:description" content="Artist, illustrator and graphic designer."/>
    <meta name="twitter:url" content="https://intuition.team"/>
    <link rel="stylesheet" href="/assets/main.1174f1f6.css">
  </head>
  <body>
    <header>
      <div class="header">
        <p><a href="/">Дарья Колесникова</a></p>
        <div class="caption">
          <p>графика  cg  микс-медиа  </p>
        </div>
      </div>
      <div class="menu"><a href="/about">био</a>
      </div>
    </header>
    <main>
      <div class="section">
        <div class="description">
          <p>Стиль иллюстраций и цветовая палитра</p><a href="https://southbridge.io/" target="_blank">Southbridge</a>
        </div>
      </div>
      <div class="section project-gallery">
        <div class="phsw gallery wide">
          <figure><a class="preview" href="/images/design/sb/sb-8.png" data-size="1800x1049"><img src="/images/design/sb/sb-8.png"></a>
            <figcaption></figcaption>
          </figure>
          <figure><a class="preview" href="/images/design/sb/sb-10.png" data-size="1800x2479"><img src="/images/design/sb/sb-10.png"></a>
            <figcaption></figcaption>
          </figure>
          <figure><a class="preview" href="/images/design/sb/sb-11.png" data-size="1915x1028"><img src="/images/design/sb/sb-11.png"></a>
            <figcaption></figcaption>
          </figure>
          <figure><a class="preview" href="/images/design/sb/sb-3.png" data-size="1800x1433"><img src="/images/design/sb/sb-3.png"></a>
            <figcaption></figcaption>
          </figure>
          <figure><a class="preview" href="/images/design/sb/sb-1.png" data-size="1800x1200"><img src="/images/design/sb/sb-1.png"></a>
            <figcaption></figcaption>
          </figure>
          <figure><a class="preview" href="/images/design/sb/sb-2-2.png" data-size="1800x1315"><img src="/images/design/sb/sb-2-2.png"></a>
            <figcaption></figcaption>
          </figure>
          <figure><a class="preview" href="/images/design/sb/sb-9.png" data-size="1800x2255"><img src="/images/design/sb/sb-9.png"></a>
            <figcaption></figcaption>
          </figure>
          <figure><a class="preview" href="/images/design/sb/sb-5-1.png" data-size="1800x2044"><img src="/images/design/sb/sb-5-1.png"></a>
            <figcaption></figcaption>
          </figure>
          <figure><a class="preview" href="/images/design/sb/sb-13.png" data-size="1800x1966"><img src="/images/design/sb/sb-13.png"></a>
            <figcaption></figcaption>
          </figure>
          <figure><a class="preview" href="/images/design/sb/sb-14.png" data-size="1800x2094"><img src="/images/design/sb/sb-14.png"></a>
            <figcaption></figcaption>
          </figure>
          <figure><a class="preview" href="/images/design/sb/sb-16.png" data-size="1800x1800"><img src="/images/design/sb/sb-16.png"></a>
            <figcaption></figcaption>
          </figure>
          <figure><a class="preview" href="/images/design/sb/sb-7.png" data-size="1800x2016"><img src="/images/design/sb/sb-7.png"></a>
            <figcaption></figcaption>
          </figure>
          <figure><a class="preview" href="/images/design/sb/sb-4.png" data-size="1800x2479"><img src="/images/design/sb/sb-4.png"></a>
            <figcaption></figcaption>
          </figure>
          <figure><a class="preview" href="/images/design/sb/sb-6.png" data-size="1800x1490"><img src="/images/design/sb/sb-6.png"></a>
            <figcaption></figcaption>
          </figure>
          <figure><a class="preview" href="/images/design/sb/sb-12.png" data-size="1800x2592"><img src="/images/design/sb/sb-12.png"></a>
            <figcaption></figcaption>
          </figure>
        </div>
      </div>
    </main>
    <!-- Root element of PhotoSwipe. Must have class pswp.-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
      <!--
      Background of PhotoSwipe.
      It's a separate element as animating opacity is faster than rgba().
      -->
      <div class="pswp__bg"></div>
      <!-- Slides wrapper with overflow:hidden.-->
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed.-->
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <!-- Controls are self-explanatory. Order can be changed.-->
            <div class="pswp__counter"></div>
            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
            <button class="pswp__button pswp__button--share" title="Share"></button>
            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
            <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR-->
            <!-- element will get class pswp__preloader--active when preloader is running-->
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
    <script src="/assets/main.1174f1f6.js"></script>
  </body>
</html>
