src/pages/projects/berlin.pug
extends /layouts/main.pug

block content
  .section
    .description
      .title Berlin

  .section.project-gallery
    .phsw.gallery.giant

      figure
        a.preview(href="/images/painting/man-light3.jpg", data-size='564x705')
          img(src="/images/painting/man-light3.jpg")
        figcaption
      figure
        a.preview(href="/images/painting/boy-4.jpg", data-size='1800x2478')
          img(src="/images/painting/boy-4.jpg")
        figcaption
      figure
        a.preview(href="/images/painting/roar2.jpg", data-size='1366x1874')
          img(src="/images/painting/roar2.jpg")
        figcaption
      figure
        a.preview(href="/images/painting/part-4.jpg", data-size='1476x2010')
          img(src="/images/painting/part-4.jpg")
        figcaption
      //- figure
        a.preview(href="/images/painting/blur.jpg", data-size='1800x2478')
          img(src="/images/painting/blur.jpg")
        figcaption
      figure
        a.preview(href="/images/traditional/lady.jpg", data-size='564x705')
          img(src="/images/traditional/lady.jpg")
        figcaption
      //- figure
        a.preview(href="/images/traditional/part-3.jpg", data-size='1286x1798')
          img(src="/images/traditional/part-3.jpg")
        figcaption
  .section
    .description
      p 2018-2021      

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  include /partials/index-content.pug

site/projects/berlin.html
<!DOCTYPE html>
<html>
  <head>
    <title>Kolesnikova gallery | Kolesnikova gallery</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,viewport-fit=contain"/>
    <meta name="description" content="Artist, illustrator and graphic designer."/>
    <meta name="author" content="Kolesnikova gallery"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Kolesnikova gallery"/>
    <meta property="og:title" content="Kolesnikova gallery | Kolesnikova gallery"/>
    <meta property="og:description" content="Artist, illustrator and graphic designer."/>
    <meta property="og:url" content="https://intuition.team"/>
    <meta property="og:image" content="https://intuition.team/images/poster.jpg"/>
    <meta property="og:image:type" content="image/jpg"/>
    <meta property="og:image:width" content="2000"/>
    <meta property="og:image:height" content="1145"/>
    <meta property="og:image:alt" content="Kolesnikova gallery | Kolesnikova gallery"/>
    <meta name="twitter:title" content="Kolesnikova gallery | Kolesnikova gallery"/>
    <meta name="twitter:description" content="Artist, illustrator and graphic designer."/>
    <meta name="twitter:url" content="https://intuition.team"/>
    <link rel="stylesheet" href="/assets/main.1174f1f6.css">
  </head>
  <body>
    <header>
      <div class="header">
        <p><a href="/">Дарья Колесникова</a></p>
        <div class="caption">
          <p>графика  cg  микс-медиа  </p>
        </div>
      </div>
      <div class="menu"><a href="/about">био</a>
      </div>
    </header>
    <main>
      <div class="section">
        <div class="description">
          <div class="title">Berlin</div>
        </div>
      </div>
      <div class="section project-gallery">
        <div class="phsw gallery giant">
          <figure><a class="preview" href="/images/painting/man-light3.jpg" data-size="564x705"><img src="/images/painting/man-light3.jpg"></a>
            <figcaption></figcaption>
          </figure>
          <figure><a class="preview" href="/images/painting/boy-4.jpg" data-size="1800x2478"><img src="/images/painting/boy-4.jpg"></a>
            <figcaption></figcaption>
          </figure>
          <figure><a class="preview" href="/images/painting/roar2.jpg" data-size="1366x1874"><img src="/images/painting/roar2.jpg"></a>
            <figcaption></figcaption>
          </figure>
          <figure><a class="preview" href="/images/painting/part-4.jpg" data-size="1476x2010"><img src="/images/painting/part-4.jpg"></a>
            <figcaption></figcaption>
          </figure>
          <figure><a class="preview" href="/images/traditional/lady.jpg" data-size="564x705"><img src="/images/traditional/lady.jpg"></a>
            <figcaption></figcaption>
          </figure>
        </div>
      </div>
      <div class="section">
        <div class="description">
          <p>2018-2021      </p>
        </div>
      </div><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
      <div class="section project-gallery">
        <div class="gallery big">
          <figure><a class="preview" href="/projects/bias" data-size="1798x2242"><img src="/images/graphic2/bias/1-2.gif"></a></figure>
          <figure><a class="preview" href="/projects/bee" data-size="1392x1727"><img class="round" src="/images/traditional/bee.jpg"></a></figure>
          <figure><a class="preview" href="/projects/sch" data-size="1790x2245"><img src="/images/mix-media/ear.jpg"></a>
            <figcaption></figcaption>
          </figure>
          <figure><a class="preview" href="/projects/curse" data-size="1752x2435"><img src="/images/traditional/curse-2.jpg"></a>
            <figcaption></figcaption>
          </figure>
          <figure><a class="preview" href="/projects/berlin" data-size="1800x2245"><img src="/images/painting/boy-4.jpg"></a></figure>
        </div>
      </div>
    </main>
    <!-- Root element of PhotoSwipe. Must have class pswp.-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
      <!--
      Background of PhotoSwipe.
      It's a separate element as animating opacity is faster than rgba().
      -->
      <div class="pswp__bg"></div>
      <!-- Slides wrapper with overflow:hidden.-->
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed.-->
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <!-- Controls are self-explanatory. Order can be changed.-->
            <div class="pswp__counter"></div>
            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
            <button class="pswp__button pswp__button--share" title="Share"></button>
            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
            <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR-->
            <!-- element will get class pswp__preloader--active when preloader is running-->
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
    <script src="/assets/main.1174f1f6.js"></script>
  </body>
</html>
